*.cproject
*.project
Warcaby/ChangeLog
Warcaby/.metadata/.lock
Warcaby/.metadata/.log
Warcaby/.metadata/version.ini
Warcaby/.metadata/.plugins/org.eclipse.cdt.core/.log
Warcaby/.metadata/.plugins/org.eclipse.cdt.core/shareddefaults.xml
Warcaby/.metadata/.plugins/org.eclipse.cdt.core/Warcaby.1645360029587.pdom
Warcaby/.metadata/.plugins/org.eclipse.cdt.core/Warcaby.language.settings.xml
Warcaby/.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
Warcaby/.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
Warcaby/.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.c
Warcaby/.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.cpp
Warcaby/.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
Warcaby/.metadata/.plugins/org.eclipse.cdt.ui/Warcaby.build.log
Warcaby/.metadata/.plugins/org.eclipse.core.resources/2.snap
Warcaby/.metadata/.plugins/org.eclipse.core.resources/.history/9d/d0099b164992001c1beff167a30eb2a0
Warcaby/.metadata/.plugins/org.eclipse.core.resources/.history/c5/a0500e4b4992001c1beff167a30eb2a0
Warcaby/.metadata/.plugins/org.eclipse.core.resources/.history/d1/80c096364992001c1beff167a30eb2a0
Warcaby/.metadata/.plugins/org.eclipse.core.resources/.history/d8/5046f84c4992001c1beff167a30eb2a0
Warcaby/.metadata/.plugins/org.eclipse.core.resources/.history/db/10c1b7984992001c1beff167a30eb2a0
Warcaby/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
Warcaby/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.markers.snap
Warcaby/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.syncinfo.snap
Warcaby/.metadata/.plugins/org.eclipse.core.resources/.projects/Warcaby/.location
Warcaby/.metadata/.plugins/org.eclipse.core.resources/.projects/Warcaby/.markers
Warcaby/.metadata/.plugins/org.eclipse.core.resources/.projects/Warcaby/.markers.snap
Warcaby/.metadata/.plugins/org.eclipse.core.resources/.projects/Warcaby/.syncinfo.snap
Warcaby/.metadata/.plugins/org.eclipse.core.resources/.projects/Warcaby/.indexes/properties.index
Warcaby/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
Warcaby/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
Warcaby/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
Warcaby/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Warcaby/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
Warcaby/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Warcaby/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-Warcaby.prefs
Warcaby/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
Warcaby/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
Warcaby/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
Warcaby/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
Warcaby/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
Warcaby/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
Warcaby/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
Warcaby/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.launchbar.core.prefs
Warcaby/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.tracecompass.tmf.analysis.xml.core.prefs
Warcaby/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
Warcaby/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
Warcaby/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
Warcaby/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
Warcaby/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.sse.ui.prefs
Warcaby/.metadata/.plugins/org.eclipse.debug.core/.launches/Warcaby Debug.launch
Warcaby/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
Warcaby/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Warcaby/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
Warcaby/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
Warcaby/.metadata/.plugins/org.eclipse.ui.intro/introstate
Warcaby/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
Warcaby/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
Warcaby/.metadata/.plugins/org.eclipse.wst.sse.ui/dialog_settings.xml
Warcaby/.settings/language.settings.xml
Warcaby/Debug/Damka.d
Warcaby/Debug/Damka.o
Warcaby/Debug/Display.d
Warcaby/Debug/Display.o
Warcaby/Debug/Game.d
Warcaby/Debug/Game.o
Warcaby/Debug/main.d
Warcaby/Debug/main.o
Warcaby/Debug/makefile
Warcaby/Debug/objects.mk
Warcaby/Debug/Pionek.d
Warcaby/Debug/Pionek.o
Warcaby/Debug/Player.d
Warcaby/Debug/Player.o
Warcaby/Debug/sources.mk
Warcaby/Debug/subdir.mk
Warcaby/Debug/Warcaby.exe
Warcaby/Release/Damka.d
Warcaby/Release/Damka.o
Warcaby/Release/Display.d
Warcaby/Release/Display.o
Warcaby/Release/Game.d
Warcaby/Release/Game.o
Warcaby/Release/Interface.d
Warcaby/Release/Interface.o
Warcaby/Release/main.d
Warcaby/Release/main.o
Warcaby/Release/makefile
Warcaby/Release/objects.mk
Warcaby/Release/Pionek.d
Warcaby/Release/Pionek.o
Warcaby/Release/sources.mk
Warcaby/Release/subdir.mk
Warcaby/Release/Warcaby.exe
Warcaby/.metadata/
